.a
{

    text-align: left;
    margin-left: 15%;
   height: 40vh;
}
.c
{
    margin-top: 10%;
    height: 20vh;
    text-align: center;
}
.c h1{
   color: #15355A;
}
.f
{
    width: 500px;
    height: 20px;
}
.a1{
    width: 80vh;
    height: 3vh;
}
table{
   
    width: 80vh;
    height: 5vh;
   padding-bottom: 2%;
}
